<template>
  <div class="mt-5"> 
    <router-link to="/customers"><i class="fas fa-arrow-circle-left"></i> Go back</router-link>
    <h3 class="text-center">Add Customer</h3>
    <div class="row">
      <div class="col-md-6">
        <ul class="list-group">
          <li class="list-group-item list-group-item-danger" v-for="error in errors" :key="error.id">{{error}}</li>
        </ul>
        <form @submit.prevent="addCustomer">
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" v-model="customer.name" />
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" v-model="customer.email" />
          </div>
          <div class="form-group">
            <label>Phone</label>
            <input type="text" class="form-control" v-model="customer.phone" />
          </div>
          <button type="submit" class="btn btn-primary">Add Customer</button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>

import axios from "axios";
export default {
  data() {
    return {
      errors: [],
      customer: {}
    };
  },
  methods: {
    checkForm: function (e) {
      this.errors = [];
      if (!this.customer.name) {
        this.errors.push("Name required.");
      }
      if (!this.customer.email) {
        this.errors.push('Email required.');
      } else if (!this.validEmail(this.customer.email)) {
        this.errors.push('Valid email required.');
      }
      if (!this.customer.phone) {
        this.errors.push("Phone required.");
      }
      if (!this.errors.length) {
        return true;
      }
      e.preventDefault();
    },
    validEmail: function (email) {
      var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    },
    addCustomer() {
        this.checkForm();
        axios
        .post(process.env.VUE_APP_API_URL + "user/addcustomer", this.customer)
        .then(response => {
          this.$router.push("/customers");
          console.log(response.data);
        });
    }
  }
};
</script>
