<template>
  <div class="home mt-5">
    <div class="alert alert-success" role="alert" v-if="success">
      {{ success }}
    </div>
    <div class="alert alert-danger" role="alert" v-if="error">
      {{ error }}
    </div>
    <div v-if="customers">
      <h3 class="text-center">
        All Customers
        <router-link to="/add" class="nav-item nav-link btn btn-primary col-md-2 "
          >Add New Customer</router-link
        >
        
      </h3> 
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="customer in customers" :key="customer.id">
            <td>{{ customer.id }}</td>
            <td>{{ customer.name }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.phone }}</td>
            <td>
              <div class="btn-group" role="group">
                <router-link
                  :to="{ name: 'edit', params: { id: customer.id } }"
                  class="btn btn-primary"
                  ><i class="fas fa-user-edit"></i> Edit
                </router-link>
                <button
                  class="btn btn-danger"
                  @click="deleteCustomer(customer.id)"
                >
                <i class="fas fa-user-minus"></i> Delete
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import axios from "axios";

export default {
  name: "Customers",

  data() {
    return {
      success: null,
      error: null,
      customers: []
    };
  },

  computed: {
    ...mapGetters("auth", ["user"])
  },

  mounted() {
    if (localStorage.getItem("authToken")) {
      this.getCustomers();
    }
  },
  methods: {
    getCustomers() {
      axios
        .get(process.env.VUE_APP_API_URL + "user/customers")
        .then(response => {
          this.customers = response.data.data.data;
          console.log(this.customers);
        });
    },
    
    deleteCustomer(id) {
        console.log(id);
      axios
        .post(process.env.VUE_APP_API_URL + "user/deletecustomer",{"customerid":id})
        .then(response => {
            console.log(this.customers);
            let i = this.customers.map(item => item.id).indexOf(id); // find index of your object
            this.customers.splice(i, 1)
            console.log(response.data);
        });
    }
  }
};
</script>
