<template>
    <div class="mt-5"> 
        <router-link to="/customers"><i class="fas fa-arrow-circle-left"></i> Go back</router-link>
        <h3 class="text-center">Edit Customer</h3>
        <div class="row">
            <div class="col-md-6">
                <form @submit.prevent="editCustomer">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" v-model="customer.name" />
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" v-model="customer.email" />
                </div>
                <div class="form-group">
                    <label>Phone</label>
                    <input type="text" class="form-control" v-model="customer.phone" />
                </div>
                <button type="submit" class="btn btn-primary">Edit Customer</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import axios from "axios";
    export default {
    data() {
        return {
        customer: {}
        };
    },
    created() {
        axios
            .post(process.env.VUE_APP_API_URL + "user/fetchcustomer",{"customerid":this.$route.params.id})
            .then((response) => {
                this.customer = response.data.data;
                 console.log(response.data);
            });
    },
    methods: {
        checkForm: function (e) {
            this.errors = [];
            if (!this.customer.name) {
                this.errors.push("Name required.");
            }
            if (!this.customer.email) {
                this.errors.push('Email required.');
            } else if (!this.validEmail(this.customer.email)) {
                this.errors.push('Valid email required.');
            }
            if (!this.customer.phone) {
                this.errors.push("Phone required.");
            } 
            if (!this.errors.length) {
                return true;
            }

            e.preventDefault();
        },
        validEmail: function (email) {
            var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
        },
        editCustomer() {
            this.checkForm();
            axios
            .post(process.env.VUE_APP_API_URL + "user/editcustomer", this.customer)
            .then(response => {
            this.$router.push("/customers");
            console.log(response.data);
            });
        }
    }
};
</script>
