<template>
  <div class="home mt-5">
    <div class="alert alert-success" role="alert" v-if="success">
      {{ success }}
    </div>
    <div class="alert alert-danger" role="alert" v-if="error">
      {{ error }}
    </div>
    <h2 v-if="!user">Welcome, please <router-link to="/"> log in</router-link>.</h2>
    <h2 v-else>Hello, {{ user.name }}! You're in.<br> <router-link to="/customers" class="linker"><i class="far fa-hand-point-right"></i> Please click here to view customers.</router-link></h2>
    
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "Home",

  data() {
    return {
      success: null,
      error: null
    };
  },

  computed: {
    ...mapGetters("auth", ["user"])
  },

  methods: {}
};
</script>
<style>
.linker { font-size:18px;}
</style>